body{
  background-color: #e30613;
}
.img {
  width: 100%;
  height: 100%;
  background-image: url("logo.png");
  background-size: 100% 100%;
}

.container {  display: grid;
  grid-template-columns: 33fr 33fr 33fr;
  grid-template-rows: 33fr 33fr 33fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "Header Header Header"
    "Input Input Input"
    "Button Button Button";
}

.input {
  grid-area: Input;
  background-color: #e30613;
  text-align: center;
}

.flaschengroesse{
  grid-area: Input;
  background-color: #e30613;
  text-align: center;
}

.header {
  grid-area: Header;
  background: #e30613;
}

.button {
  grid-area: Button;
  background-color: #e30613;
  text-align: center;
}

#eingabe{
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
  width: 40%;
  height: 30%;
  border-radius: 20px;
  border-style: none;
  font-size: 2em;
}
#eingabe:focus{
  border: none;
  box-shadow: none;
  outline: none;
}

.eingabe{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
  width: 40%;
  height: 30%;
  border-radius: 20px;
  border-style: none;
  font-size: 2em;
}
.eingabe:focus{
  border: none;
  box-shadow: none;
  outline: none;
}

#knopf {
  border-style: none;
  background-color: #e30613;
  width: 100%;
  height: 100%;
  color: #ffed00;
  font-size: 800%;
}

#knopf:active {
    background-color: red;
}

#knopf:focus{
  border: none;
  box-shadow: none;
  outline: none;
}
#knopf4 {
  border-style: none;
  background-color: #e30613;
  width: 100%;
  height: 100%;
  color: #ffed00;
  font-size: 600%;
}

#knopf4:active {
    background-color: red;
}

#knopf4:focus{
  border: none;
  box-shadow: none;
  outline: none;
}


.knopf {
  grid-area: Button;
  border-style: none;
  background-color: #e30613;
  width: 40%;
  height: 100%;
  color: #ffed00;
  font-size: 400%;
}

.knopf:active {
    background-color: red;
}

.knopf:focus{
  border: none;
  box-shadow: none;
  outline: none;
}



